* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*    home page design  */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-element {
  border-radius: 20px;
  width: 80%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.home-left h1 {
  font-size: 3rem;
  font-weight: 900;
}
.home-left p {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.home-left button {
  height: 50px;
  width: 200px;
  background-color: brown;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
}
.home-left {
  color: white;
}
.home-right img {
  height: 600px;
}
/*    blog part design   */
.blog {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-element {
  border-radius: 20px;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 25% 75%;

  row-gap: 10px;
  column-gap: 10px;
}
/*    blog left part   */
.left-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  height: 300px;
}

.page li {
  list-style: none;
  width: 210px;
  height: 50px;
  background-color: white;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.page li a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.page button:visited {
  background-color: brown;
}
/*     blog right part    */
.right-blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
}
.card {
  box-sizing: 10px;
  padding: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 10px;
  padding-bottom: 20px;
}
.card img {
  width: 100%;
  margin-bottom: 20px;
}
.card button {
  padding: 3px 6px;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.icon {
  display: flex;
}
.icon i {
  margin-right: 10px;
}
.icon p {
  margin-right: 20px;
}
.icon fa-message {
  margin-right: 10px;
}
/*       footer  part      */
footer {
  margin-top: 40px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.item {
  text-align: center;
}
.item h1 {
  color: white;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 0.5px solid white;
}
.all-item {
  margin-top: 40px;
  display: flex;
}
.all-item p {
  margin: 10px;
  color: white;
  font-size: 1.5rem;
  margin-right: 20px;
  margin-bottom: 30px;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-icon i {
  font-size: 1.5rem;
  color: white;
}

/*     reponsive for mobile design   */

@media screen and (max-width: 687px) {
  .home-element {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-left {
    padding: 20px;
    text-align: center;
  }
  .home-left h1 {
    font-size: 2rem;
  }
  .home-left p {
    text-overflow: ellipsis;
  }
  .home-right {
    padding: 20px;
    text-align: center;
  }
  .home-right img {
    width: 300px;
  }
  .blog-element {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-blog {
    background-color: white;
  }
  .page li {
    border: 0.002px solid gray;
  }
  .right-blog-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    height: auto;
  }
  .item {
    padding: 20px 0;
  }
  .all-item {
    display: flex;
    flex-direction: column;
  }
}

/*    responsive for tab     */

@media screen and (min-width: 688px) and (max-width: 992px) {
  .home-element {
    width: 90%;
  }
  .home-left {
    padding: 20px;
  }
  .home-left h1 {
    font-size: 3rem;
  }

  .home-right {
    padding: 20px;
    text-align: center;
  }
  .home-right img {
    width: 300px;
  }
  .blog-element {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .left-blog {
    background-color: white;
  }
  .page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .page li {
    border: 0.002px solid gray;
  }
  .right-blog-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    height: auto;
  }
  .item {
    padding: 20px 0;
  }
  .all-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
